<header class="navbar navbar-light" style="background-color: #9acd32;">
	<div class="container">
		<%= link_to "my beans", '/', id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home", '/' %></li>
				<li><%= link_to "About", '/about' %></li>
				<li><%= link_to "Beans", '/beans' %></li>
				<li><%= link_to "Log in", '#' %></li>
			</ul>
		</nav>
	</div>
</header>
